#bg{ 
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    max-width: 100%;
    
   
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;

}

a {
    color: black;
}

h1 {
    color:black
}
