#bg{ 
    background-repeat: no-repeat;
    background-size: cover;
    
}

body {
    font-family: 'Zen Dots', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

a {
    color: rgb(9, 9, 9);
    font-family: 'Zen Dots', cursive;;
}

h1 {
    color:rgb(255, 255, 255)
}
