body {
    font-family: 'Zen Dots', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-image: url(https://res.cloudinary.com/dfafbzdgi/image/upload/v1677669861/static/images/bgi.4eba38c55c25.4eba38c55c25.jpg);
    background-repeat: no-repeat;
}

a {
    color: rgb(9, 9, 9);
    font-family: 'Zen Dots', cursive;;
    margin: 10px;
}

h1 {
    color:rgb(255, 255, 255)
}

button {
     margin: 10px;
}
