{% extends 'base.html' %} {% block content %}
{% include 'messages.html' %}
<!-- Edit profile page -->
<div class="text-light bg-dark">
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h2>Edit Profile Page...</h2>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-light">Update</button>
    </form>
</div>

{% else %}
You cannot edit a page if you are not the correct user!!
{% endif %}
</div>
{% endif %}
{% endblock %}