{% extends 'base.html' %} {% block content %}

<!-- Profile page -->
<div class="card bg-dark text-light">
      <h5 class="card-title">
        {{ user.user.first_name }}
        {{ user.user.last_name }}
    </h5>
    <br />
    <div class="small text-white">
        {% if user.facebook %}
        <a href="{{user.facebook }}">Facebook<i class="fa-brands fa-facebook"></i></a> | 
        {% endif %}

        {% if user.instagram%}
        <a href="{{user.instagram }}">Instagram<i class="fa-brands fa-square-instagram"></i></a> | 
        {% endif %}

        {% if user.linkedin%}
        <a href="{{ user.linkedin }}">linkedIn<i class="fa-brands fa-linkedin"></i></a>
        {% endif %}
    </div>
        <p class="card-text">
        {{ user.bio }}
        </p>
    </div>
    <a href="{% url 'home' %}" 
    class="btn btn-light">Back
    </a>



{% endblock %}