{% extends 'base.html' %} {% block content %}

<!-- Categories page -->
{% if category_posts %}
<div class="text-light bg-dark">
<h1>Category -- {{ cat }} </h1>
<br />
<ul>
{% for post in category_posts %}
        <li><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> - 
        {{ post.created_on }}
        {{ post.body }}
        {% if user.is_authenticated %}
            - <a href="{% url 'update_post' post.pk %}">Edit</a>
            - <a href="{% url 'delete_post' post.pk %}">Delete</a></li>
        {% endif %}
        <br />
        <br />
    {% endfor%}
</ul>
<a href="{% url 'home' %}" class="btn btn-light">Back
</a>
</div>
{% else %}
<div class="text-light bg-dark">
<h1>Sorry this category does not have any posts yet.</h1>
</div>
{% endif %}
{% endblock %}

