{% extends 'base.html' %} {% block content %}
{% include 'messages.html' %}
<!-- Delete posts page -->
<div class="text-light bg-dark">
<br />
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h2>Delete Blog Post...</h2>
<br />
<h4>This post will be deleted: {{ post.title }}</h4>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <br />
        <br />
        <p>Are you sure?</p>
        <button class="btn btn-light">Delete</button>
        <a href="{% url 'home' %}" class="btn btn-light">Head to main page
        </a>
</div>
{% endif %}
</div>
{% else %}

You cannot delete posts if you are not logged in!!
{% endif %}

{% endblock %}