{% extends 'base.html' %}
{% block title %}}{{ post.slug }}{% endblock %}

<!-- Page with posts-->
{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }} - {{ post.created_on }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">Edit</a> -
    <a href="{% url 'delete_post' post.pk %}">Delete</a></small>
<hr>
{% endif %}
{% endif %}
<br />
{{ post.body }}
<br />
<br />
<br />

<a href="{% url 'home' %}" class="btn btn-secondary">Back
</a>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 
    {% endif %}
{% else %}
<br />
<a href="{% url 'login' %}">Login to like this post</a>
{% endif %}
    - {{ total_likes }}
Likes </form>
<hr>
<h2>Comments:</h2>
{% if not post.comments.all %}
    No Comments Yet..<a href="#">Add one here</a>
{% else %}
<a href="">Add a comment</a>
<br />
<br />
    {% for comment in post.comments.all %}
    <strong>
        On {{comment.created_on.date }}&nbsp;
        {{ comment.author }} wrote:
    </strong>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor%}
{% endif %}
{% endblock %}