{% extends 'base.html' %}
{% block title %}{{ post.slug }}{% endblock %}

<!-- Page with posts-->
{% block content %}
{% include 'messages.html' %}
<div class="text-light bg-dark">
<h1>{{ post.title }}</h1>
{% if post.author.profile.id %}
<small>By: <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author }}</a> 
    {% else %}
    By: {{ post.author }}
    {% endif %} - {{ post.created_on }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">Edit</a> -
    <a href="{% url 'delete_post' post.pk %}">Delete</a></small>
<hr>
{% endif %}
{% endif %}
<br />
{{ post.body }}
<br />
<br />
<br />

<a href="{% url 'home' %}" class="btn btn-light">Back
</a>
<br />
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 
    {% endif %}
{% else %}
<br />
<a href="{% url 'login' %}">Login to like this post</a>
{% endif %}
    - {{ total_likes }}
Likes </form>
<hr>
<h2>Comments:</h2>
{% if not post.comments.all %}
    No Comments Yet..<a href="{% url 'add_comment' post.pk %}">Add one here</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br />
<br />
    {% for comment in post.comments.all %}
    <strong>
        On {{comment.created_on.date }}&nbsp;
        {{ comment.author }} wrote:
    </strong>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor%}
</div>
{% endif %}
{% endblock %}